{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block header %}{% endblock %}

{% block body %}

 <section class="title">

 <h1>Super-location</h1>
	<p>location vacance été</p>

 
 </section>
	
	<div class="form-background">

		<div class="titre-form">
			<p>Formulaire</p>
			<p>Sélectionner des dates</p>
		</div>
		
		<div class="form-container">
			{{ form_start(ChooseDateandPriceType) }}
			{{ form_widget(ChooseDateandPriceType) }}
			{{ form_end(ChooseDateandPriceType) }}

		</div>
	
	
	</div>

	


	<section>

		<section>
    {% for dispo in dispos %}
        {% if dispo.startDate >= startDate and dispo.endDate <= endDate and dispo.price <= maxPrice%}
            <div class="donnée">
                <div>
                    <p>{{ dispo.linkCar.brand }}</p>
                    <p>{{ dispo.linkCar.model }}</p>
                    <p>ID: {{ dispo.linkCar.id }}</p>
                </div>

                <p>Disponibilité numéro : {{ dispo.id }}</p>

                <p>{{ dispo.startDate|date('d/m/Y') }} au {{ dispo.endDate|date('d/m/Y') }}</p>

                <div>
                    <p>Disponible: {{ dispo.available == 1 ? 'oui' : 'non' }}</p>
                    <p>à partir de : {{ dispo.price }}€ /jour</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>

{% endblock %}

