{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<h1>Tous les véhicules disponibles 🚗</h1>
	

	<section>

	<a href="{{ path('car.add')}}">créer une voiture</a>
	<a href="{{ path('availability.add')}}">créer une disponibilité</a>


		{% for dispo in dispos %}
			<div class="donnée">
				<p>ID de la voiture: {{ dispo.linkCar.id }}</p> 
				<p>Nom de la voiture:
					{{ dispo.linkCar.brand }}</p>
				<p>Modèle de la voiture:
					{{ dispo.linkCar.model }}</p>
				<p>{{dispo.startDate |date('d/m/Y')}}
					au
					{{dispo.endDate|date('d/m/Y')}}</p>

				<p>à partir de :
					{{dispo.price}}€ /jour</p>
				<p>Disponible:
					{{ dispo.available == 1 ? 'oui' : 'non' }}</p>

				<a href="{{ path('car.edit', { 'id': dispo.id }) }}">Modifier</a>
				<form action="{{ path('availability.delete', { 'id': dispo.id }) }}" method="post" style="display: inline-block;">
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit">Supprimer</button>
        		</form>
				{# <form action="{{ path('availability.delete', { 'id': dispo.id }) }}" method="post">
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit">Supprimer</button>
				</form> #}


				

			</div>
		{% endfor %}

	</section>
{% endblock %}

