{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<h1>Toute les voitures</h1>
	

	<section>

		{% for dispo in dispos %}
			<div class="donnée">
				<p>ID de la voiture: {{ dispo.linkCar.id }}</p> 
				<p>Nom de la voiture:
					{{ dispo.linkCar.brand }}</p>
				<p>Modèle de la voiture:
					{{ dispo.linkCar.model }}</p>
				<p>{{dispo.startDate |date('d/m/Y')}}
					au
					{{dispo.endDate|date('d/m/Y')}}</p>

				<p>à partir de :
					{{dispo.price}}€ /jour</p>
				<p>Disponible:
					{{ dispo.available == 1 ? 'oui' : 'non' }}</p>
				<a href="{{ path('car.edit', { 'id': dispo.id }) }}">Modifier</a>

			</div>
		{% endfor %}

	</section>
{% endblock %}

